.search-bar-container{
   display: flex;
   flex-direction: column;
   align-items: center;

   .form-container {
      display: flex;
      width: 80%;
      justify-content: center;
      align-items: center;
   
      .input-style{
      font-size: 1.2rem;
      margin: 30px;
       padding: 10px;
       display: inline-block;
       width: 30%;
       border-radius: 10px;
      }
   }

   .suggestions {
      background-color: white;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid black;
   }

   .suggest {
      margin: 5px;
      padding-bottom: 5px;
      border-bottom: 1px black solid;
      cursor: pointer;
   }
}

