.search-bar-container{
   display: flex;
   margin-top: 20px ;
   flex-direction: column;
   align-items: center;

   .form-container {
      display: flex;
      width: 30vw;
      justify-content: center;
      align-items: center;
   
      .input-style {
       display: block;
       width: 100%;
       font-size: 1.2rem;
       padding: 10px;
      }
   }

   .suggestions {
      width: 30vw;
      background-color: white;
      padding: 10px;
      border: 1px solid black;
   }

   .suggest {
      margin: 5px;
      padding-bottom: 5px;
      border-bottom: 1px black solid;
      cursor: pointer;
   }
}

